.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

@media (min-width:768px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width:960px){
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


