.color-rec {
    height: 150px;
    animation: 0.8s flip;
    transform: perspective(1000px ) rotateX(90deg);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.375, 1.285, 0.32, 1.475);
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-rec::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(170deg, rgba(255,255,255,0.1), rgba(255,255,255,0) 70%);
}


.color-rec__description {
    text-shadow: 1px 1px #fff;
}


@keyframes flip {
    0% {
        transform: perspective(1000px) rotateY(90deg);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}
